.footer
    background-color: #1E1E1E

.footer-info-_container
    display: flex
    justify-content: center
    align-items: center

.footer-info__img
    filter: var(--white)
    width: 40px
    padding-right: 10px

.footer-info__link
    align-self: center
    color: #fff
    transition: 0.3s

    &:before,
    &:after
        background-color: #adadad

    &:hover
        color: #adadad
