.footer
    background-color: #2c2c2c
    padding: 2px 0

.footer-info-_container
    display: flex
    justify-content: center
    align-items: center

.footer-info__img
    width: clamp(10px, 50%, 50px)
    padding-right: 10px

.footer-info__link
    align-self: center
    font-size: clamp(10px, 4vw, 25px)
    transition: var(--main-transition)

    &:hover
        color: var(--gray)
