.auth-input__item
    position: relative

    &::before
        content: " "    
        position: absolute
        bottom: 0
        left: 0
        border-bottom: 2px solid  #000
        width: 100%

.auth-input,
.auth-input_active
    height: 25px
    width: 100%
    padding: 0 8px
    font-size: 16px
    background-color: transparent
    color: #fff
    transition: var(--main-transition)

.auth-input,
.password-show,
.code-input-img
    opacity: 0
    filter: var(--filter-grey)

.auth-input_active,
.password-show_active,
.code-input-img_active
    opacity: 1

.auth-lbl
    position: absolute
    bottom: 5px
    left: 5px
    transition: 0.3s
    cursor: pointer

.auth-lbl_active
    transition: var(--main-transition)
    font-size: 12px
    transform: translateY(-20px)

.password-show,
.code-input-img,
.password-show_active
    position: absolute
    right: 0
    top: -10px
    width: 30px
    cursor: pointer
    transition: 0.3s
