@import "/base_style/color.sass"
    

.radio-input
    display: none
    position: absolute

.radio-lbl
    cursor: pointer
    -color: $white
    transition: color 0.3s

    &:hover
        color: $gray

.radio-input:checked ~ .radio-lbl
    color: $gray
