.radio-input
    display: none
    position: absolute

.radio-lbl
    cursor: pointer
    font-size: 18px

    &:hover
        background: linear-gradient(to right, #000 20%, #FFBA00 40%, #FFBA00 60%, #000 80%)
        background-size: 200% auto
        background-clip: text
        text-fill-color: transparent
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        animation: shine 1s linear infinite

.radio-input:checked ~ .radio-lbl
    -webkit-text-fill-color:  #FFBA00

@keyframes shine 
    to 
        background-position: -200% 
    
