.prompt-textarea
    padding: 8px
    border-radius: 8px
    background-color: rgba(60, 179, 113, 0.6)
    width: 100%
    max-height: 130px
    overflow: hidden
    
    &:-moz-placeholder
        color: #000

    &::-webkit-input-placeholder
        color: #000
