.header
    background-color: #1E1E1E

.wrapper-header
    display: flex
    align-items: center
    justify-content: space-between

.header__logo-container
    width: 50px
    height: 50px

.header__logo,
.header__auth-img
    &:hover
       filter: var(--hover-grey)
       transition: 0.3s 

.header__auth-container
    width: 30px
    height: 30px

.header__nav
    flex: 1

.header__nav-container
    display: flex
    justify-content: space-evenly

.header__nav-item
    padding: 0 10px
    
.header__item-link
    color: #fff
    font-size: 18px
    font-weight: 500

    &:before,
    &:after
        background-color: #adadad
        
.header__auth-img_big
    scale: 1.4