.header
    position: sticky
    top: 0
    background-color: var(--background-color)
    z-index: 999

.wrapper-header
    display: flex
    align-items: center
    justify-content: space-between

.logo
    font-family: "Tourney", sans-serif
    color: #fff
    font-size: 22pt
    cursor: pointer
    transition: 0.2s 

    &:hover
        color: #9e9d9d

.header__container
    display: grid
    grid-auto-flow: column
    grid-template-columns: 350px auto auto

.header-menu__img
    cursor: pointer
    margin: 0 2px

.header-menu
    display: flex
    column-gap: 8px

.header-menu__img,
.header__auth-img
    filter: var(--white)
    transition: 0.2s
    cursor: pointer

    &:hover
       filter: var(--filter-grey)
       transition: var(--main-transition)

.header__auth-img
    scale: 1.3

.line
    width: 1px
    background-color: #9e9d9d
    margin: 0 20px

.header__auth-container
    width: 30px
    height: 30px
    position: relative

.user-avatar
    cursor: pointer
