.btn-send
    background-color:  #44944A
    border-radius: 10px
    border: 1px solid #000
    box-shadow: 0 9px #1E5945
    transition: 0.2s
    width: 150px
    height: 30px
    
    &:active
        box-shadow: 0 5px #1E5945
        transform: translateY(5px)
    
    &:hover
        background-color: #47A76A