.about__img
    max-width: 380px
    border-radius: 10px
    position: relative
    margin: 0 auto

.about__list-container
    display: flex
    flex-wrap: wrap
    max-width: 530px
    border: 2px solid
    overflow: hidden

.reaction__container
    display: flex
    justify-content: center
    column-gap: 20%

.reaction-img
    width: 30px

.reaction-count
    text-align: center
