.about-img-section
    flex: 1
    align-content: center

.about-img__container
    overflow: hidden

.about-img__wrapper
    display: flex
    align-items: center
    justify-content: center

    &:hover  .about__img-item
        scale: 1.1
        filter: brightness(65%)
        cursor: pointer

    &:hover .btn-download
        opacity: 1
        visibility: visible
        z-index: 2  
        transition: 0.3s

.about__img-item
    transition: 0.3s
    object-fit: cover
