@import "/base_style/color.sass"
    
    
.create__inner
    display: flex
    justify-content: center
    align-items: center
    column-gap: 20px
    
.create__img

    img
        border-radius: 10px
        max-height: 510px
        margin: 0 auto
        display: block
   

.createForm__container
    border: 2px solid #000
    border-radius: 10px
    flex-basis: 630px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 15px 15px 45px 15px
    row-gap: 10px
    max-height: 575px
    position: relative
