.img-create-section
    flex: 1
    display: flex
    justify-content: center
    align-items: center

.img-create__container
    display: flex
    gap: 10px
    align-items: center

.tag__container
    border: 2px solid var(--gray)    
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    padding: 4px 6px
    display: flex
    flex-wrap: wrap
    color: var(--white)

.tag__item
    margin-right: 10px
    cursor: pointer

.img-generate__container
    max-width: 370px
    margin-right: 10px
   
.img-form__create_hidden
    opacity: 0
    // transition: var(--main-transition)
    visibility: hidden
    position: absolute

.img-generated
    border-radius: 10px

.img-container
    border-radius: 10px
    overflow: hidden
    align-self: center

.img-container_hidden
    opacity: 0
    visibility: hidden

.img-create
    max-width: 540px
    max-height: 400px
    
.img-form__create
    border: 2px solid #000
    border-radius: 10px
    max-width: 590px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 15px
    row-gap: 10px

.checkbox-style__container
    display: flex
    flex-wrap: wrap
    gap: 16px 15px
    padding-bottom: 11px

.size__container
    display: flex
    flex-direction: column
    row-gap: 10px

.form__create-btn-container
    display: flex
    justify-content: space-evenly
