@keyframes show
    0%
        transform: translateX(0%)        
    
    100%
        transform: translateX(145px)

@keyframes showLoader
    0%
        opacity: 0
        position: absolute
        visibility: hidden        
    
    100%
        opacity: 1
        visibility: visible
        transform: translateX(-225px)

.img-create-section
    flex: 1
    display: flex
    justify-content: center
    align-items: center

.img-create__container
    display: flex
    gap: 10px
    align-items: center

.img-generate__container
    max-width: 370px
    margin-right: 10px
    opacity: 0
    position: absolute
    visibility: hidden
    
.img-generate__container_active
    animation: showLoader 0.5s linear
    opacity: 1
    visibility: visible
    transform: translateX(-225px)
   
.form__create-img_active
    animation: show 0.4s linear
    transform: translateX(145px)

.img-generated
    border-radius: 10px

.img-container
    border-radius: 10px
    overflow: hidden
    align-self: center

.img-create
    max-width: 540px
    max-height: 400px
    
.form__create-img
    border: 2px solid #000
    border-radius: 10px
    max-width: 540px
    display: flex
    flex-direction: column
    justify-content: space-between
    backdrop-filter: blur(2px)
    padding: 35px
    row-gap: 10px

.checkbox-style__container
    display: flex
    flex-wrap: wrap
    gap: 16px 15px
    padding-bottom: 11px

.size__container
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    flex-wrap: wrap

.form__create-btn-container
    position: relative
    margin: 0 auto
