@keyframes rotate
    from
        transform: rotate(-360deg)

.loader
    display: flex
    flex-direction: column

.loader-img
    margin: 0 auto
    width: 300px
    height: 300px
    animation: rotate 15s linear infinite

.loader-text
    text-align: center
    font-size: 20px
