@keyframes rotate
    from
        transform: rotate(-360deg)

.loader-img
    margin: 0 auto
    animation: rotate 15s linear infinite
    width: clamp(100px, 50%, 320px)

.loader-text
    text-align: center
    font-size: 20px
