.img__wrapper
    position: relative
    overflow: hidden
    border-radius: 14px
    margin-bottom: 20px

    &:hover .btn-download,
    &:hover .reaction-container
        opacity: 1
        visibility: visible
        z-index: 2  
        transition: var(--main-transition)

    &:hover .img__item
        scale: 1.1
        filter: brightness(65%)

.img__item,
.img__item_solo
    cursor: pointer
    transition: var(--main-transition)

.img__item_solo
    max-height: 520px
