.img__wrapper
    position: relative
    overflow: hidden
    border-radius: 14px
    margin-bottom: 20px

    &:hover .btn-download,
    &:hover .reaction-container
        opacity: 1
        visibility: visible
        z-index: 2  
        transition: var(--main-transition)

    &:hover .img__item
        scale: 1.1
        filter: brightness(65%)

.img__item
    max-height: 520px
    cursor: pointer
    transition: var(--main-transition)

.last-element
    display: block
    width: 150px
    height: 50px
    border: 2px solid red