.tag-menu
    display: flex
    flex-direction: column
    align-items: self-start
    
.add-tag-btn
    color: #000
    background-color: transparent
    font-size: 18px

.add-tag__container
    opacity: 1
    visibility: visible
    position: relative
    display: flex
    margin: 10px 0
    justify-content: center
    column-gap: 20px

.tag-create-svg
    position: absolute
    max-width: 25px
    top: 50%
    right: 8px
    transform: translateY(-50%)
    stroke: var(--white)
    cursor: pointer
    transition: var(--main-transition)

    &:hover
        stroke: var(--gray)
