.add-tag-btn
    color: #000
    background-color: transparent
    font-size: 18px

.add-tag__container
    opacity: 1
    visibility: visible
    position: relative
    display: flex
    margin: 10px 0
    justify-content: center
    column-gap: 20px

.add-tag__container_hidden
    opacity: 0
    visibility: hidden
    position: absolute
    