.user-menu
    position: absolute
    top: 35px
    left: -155px
    border: 2px solid #474343
    border-radius:  5px 
    background-color: #2c2c2c
    padding: 0 5px
    overflow: hidden
    width: clamp(200px, 50%, 400px)

.user-menu__header,
.user-menu__item,
.user-menu__footer
    display: flex
    align-items: center
    padding: 10px 0

.user-menu-avatar
    max-width: 40px

.user-menu__footer
    border-top: 1px solid #fff
    justify-content: space-evenly   