@import "/base_style/color.sass"
    
.user-menu
    position: absolute
    font-size: 18px
    top: 60px
    transform: translateX(-100%)
    border: 2px solid $gray
    border-radius: 6px 
    background-color: $sub-black
    padding: 5px
    overflow: hidden
    max-width: 220px
    z-index: 9

.user-menu__list
    padding: 10px 0

.user-menu__header,
.user-menu__item,
.user-menu__footer
    display: flex
    align-items: center
    padding: 4px 0

.user-menu-avatar
    max-width: 40px

.user-menu__item
    border-radius: 4px
    transition: background-color 0.3s
    
    &:hover
        background-color: $gray

.user-menu__item + .user-menu__item
    margin-bottom: 5px

.user-menu__svg
    width: 32px
    height: 32px

.user-menu__svg_stroke
    stroke: $error

.user-menu__link
    padding: 0 8px

.user-menu__footer
    padding-top: 10px
    border-top: 1px solid $gray
    justify-content: space-evenly
