*
    margin: 0
    padding: 0
    box-sizing: border-box
    
input
    outline: none
    border: none

button
    cursor: pointer
    border: none
    outline: none

ul
    list-style: none

li
    list-style-type: none

a
    text-decoration: none
    color: #fff

input,
select
    border: none
    outline: none

select
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none

img
    max-width: 100%
    display: block

textarea
    resize: none
    outline: none
    overflow: auto
    background-color: transparent
    border: none

button,
input,
select
    font-family: "Comfortaa", sans-serif

html,
body
    height: 100%

body
    font-family: "Comfortaa", sans-serif
    background-color: #1E1E1E

    &::-webkit-scrollbar
        width: 10px

    &::-webkit-scrollbar-track
        background: linear-gradient(#1E1E1E, #2c2c2c)
    
    &::-webkit-scrollbar-thumb
        background-color: #525151
        border-radius: 10px
        cursor: pointer

#root
    min-height: 100vh
    display: flex
    flex-direction: column
    
    --white: #fff
    --background-color: #1E1E1E
    --main-transition: 0.3s
    --gray: color-mix(in srgb, var(--background-color), var(--white))    

.wrapper
    max-width: 1220px
    padding: 10px
    position: relative
    margin: 0 auto

.hidden
    display: none

.section_flex
    flex: 1
    display: flex
    justify-content: center
    align-items: center

.flex
    flex: 1
