*
    margin: 0
    padding: 0
    box-sizing: border-box
    
input
    outline: none
    border: none

button
    cursor: pointer
    border: none
    outline: none

ul
    list-style: none

a
    text-decoration: none
    color: #000

input
    border: none
    outline: none

img
    max-width: 100%
    display: block

textarea
    resize: none
    outline: none
    overflow: auto
    background-color: transparent
    border: none

input
    font-family: "Comfortaa", sans-serif

body
    font-family: "Comfortaa", sans-serif
    background-image: url("/static/bg.jpg")

#root
    min-height: 100vh
    display: flex
    flex-direction: column

.wrapper
    max-width: 1220px
    padding: 10px
    position: relative
    margin: 0 auto

.hidden
    display: none

.section_flex
    flex: 1
    display: flex
    justify-content: center
    align-items: center

#root
    --reaction: brightness(0) saturate(100%) invert(13%) sepia(60%) saturate(7071%) hue-rotate(360deg) brightness(112%) contrast(79%)
    --hover-grey: brightness(0) saturate(100%) invert(77%) sepia(0%) saturate(3086%) hue-rotate(105deg) brightness(100%) contrast(67%)
    --white: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7%) hue-rotate(6deg) brightness(104%) contrast(104%)

.hover
    display: block
    position: relative
    
    &:before,
    &:after
        content: ""
        position: absolute
        top: 100%
        width: 0px
        height: 3px
        transition: 0.3s
        
    &:before
        left: 50%    

    &:after
        right: 50%
        
    &:hover:before,
    &:hover:after
        width: 50%
