*
    margin: 0
    padding: 0
    box-sizing: border-box
    
input
    outline: none
    border: none

button
    cursor: pointer
    border: none
    outline: none

ul
    list-style: none

a
    text-decoration: none

input
    border: none
    outline: none

img
    max-width: 100%
    display: block

textarea
    resize: none
    outline: none
    overflow: auto
    background-color: transparent
    border: none

body
    background-image: url("/static/forest.jpg")

#root
    min-height: 100vh
    display: flex
    flex-direction: column

.wrapper
    max-width: 1220px
    padding: 10px
    position: relative
    margin: 0 auto

.hidden
    display: none

.section_flex
    flex: 1
    display: flex
    justify-content: center
    align-items: center
